# Enable URL rewriting
RewriteEngine On

# Set the base directory for the rewrite rules
RewriteBase /

# Allow direct access to the public folder and its contents
RewriteCond %{REQUEST_URI} ^/public/ [OR]
RewriteCond %{REQUEST_URI} \.(css|js|jpg|jpeg|png|gif|ico|svg|woff|woff2|ttf|eot)$
RewriteRule ^ - [L]

# Prevent direct access to sensitive files and directories
RewriteRule ^(src|config|\.git|vendor|composer\.json|composer\.lock|\.env.*) - [F,L]

# Redirect all other requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

# Disable directory listing
Options -Indexes