body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-top: 100px;
}

main h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-dark);
}

form {
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);

    position: relative;

    color: var(--primary-dark);
    background-color: var(--primary-light);

    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

main form .account-details-container {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;

    margin: 20px;
}
main form .account-details-container div {
    width: 50%;
    position: relative;
}

main form .account-info-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
main form .account-info-container::after {
    content: "";
    position: absolute;
    top: -5%;
    right: -20px;
    height: 110%;
    border-radius: 0;
    border: 1px solid var(--primary-dark);
}
main form .account-info-container span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    width: 90%;
}

main form .account-profile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
main form .account-profile-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid rgba(var(--primary-dark-rgb), 0.1);
}
main form .account-profile-container input[type="file"] {
    height: auto;
    display: flex;
    flex-direction: column;
}
main form .account-profile-container input[type="file"]::file-selector-button {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-weight: 600;
    border: 2px solid var(--primary-dark);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.1s ease;
}
main form .account-profile-container input[type="file"]::file-selector-button:hover {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

form span label {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-dark);
}

form input {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-size: 1rem;
    outline: none;
}
form input:not([type="submit"]) {
    width: calc(100% - 10px);
    height: 18px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 2px solid var(--primary-dark);
    border-radius: 0;
}

form .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
form .buttons button[type="submit"] {
    background-color: var(--primary-light);
    color: var(--primary-light);
    font-weight: 600;
    font-size: 1rem;
    border: 3px solid var(--primary-dark);
    color: var(--primary-dark);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.1s ease;
}
form .buttons button[type="submit"]:hover {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}
form .buttons button[type="button"] {
    background-color: var(--primary-light);
    color: var(--primary-light);
    font-weight: 600;
    font-size: 1rem;
    border: none;
    color: var(--primary-dark);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
form .buttons button[type="button"]:hover {
    text-decoration: underline;
}