body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    margin: 0;
    padding: 15px;

    box-sizing: border-box;

    width: 100%;
    max-width: none;
    height: 100%;
    overflow: hidden;

    flex-grow: 1;
}

main .sidebar {
    position: relative;

    padding: 15px 5px;

    height: 100%;
    box-sizing: border-box;
    width: 200px;
    max-width: 600px;
    min-width: 140px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
main .sidebar h2 {
    color: var(--primary-dark);
}
main .sidebar .sidebar-items {
    /* border: 1px dashed red; */

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}
main .sidebar .sidebar-item {
    padding: 10px;
    margin: 0 7px;
    width: calc(100% - 14px);
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-dark);
    text-decoration: none;
    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);

    border-radius: 5px;

    transition: 0.1s ease-out;
}
main .sidebar .text {
    flex-grow: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main .sidebar .color-container {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    flex-shrink: 0;

    width: 25px;
    height: 25px;

    border-radius: 5px;
    overflow: hidden;
}
main .sidebar .color {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 200%;
    height: 200%;

    cursor: pointer;
}
main .sidebar .sidebar-item:hover,
main .sidebar .sidebar-item.active {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

main .sidebar .sidebar-add-button {
    width: 100%;

    border: none;
    border-radius: 5px;

    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 2rem;

    transition: 0.1s ease;
    cursor: pointer;

    margin-top: auto;
    margin-bottom: 15px;
}
main .sidebar .sidebar-add-button:hover {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

main .divider {
    /* border: 1px dashed red; */

    position: relative;
    height: 95%;
    width: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    cursor: ew-resize;
}
main .divider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    border: 1px solid var(--primary-dark);
}

main .table {
    border: 1px dashed red;

    padding: 15px;

    height: 100%;

    box-sizing: border-box;

    flex-grow: 1;
}

/* Add project modal */

.modal h2 {
    margin-top: 0;
}
.modal-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    text-align: left;
}
.modal-inputs label {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-dark);
}
.modal-inputs span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;

    width: 100%;
}
.modal-inputs input {
    width: 100%;
}
.modal-inputs input#name {
    border-radius: 5px 0 0 5px;
    flex-grow: 1;
}
.modal-inputs .modal-color-container {
    position: relative;

    border: 3px solid var(--primary-dark);
    border-left: none;
    border-radius: 0 5px 5px 0;
    flex-grow: 1;
    padding: 0;
    height: 34px;
    width: 34px;

    box-sizing: border-box;

    overflow: hidden;
}

.modal-buttons {
    width: 100%;
    padding: 0 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 7px;

    margin-top: 20px;
}
.modal-buttons button {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--accent-dark);
    background: none;
    border: none;
    padding: 5px 7px;
    cursor: pointer;

    transition: 0.1s ease;
}
.modal-buttons button:not([type="submit"]):hover {
    text-decoration: underline;
}
.modal-buttons button[type="submit"] {
    font-size: 1rem;
    border-radius: 5px;
    border: 3px solid var(--accent-dark);
}
.modal-buttons button[type="submit"]:hover {
    background-color: var(--accent-dark);
    color: var(--primary-light);
}