body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    margin: 0;
    padding: 15px;

    box-sizing: border-box;

    width: 100%;
    max-width: none;
    height: 100%;
    overflow: hidden;

    flex-grow: 1;
}

main .sidebar {
    position: relative;

    padding: 15px 5px;

    height: 100%;
    box-sizing: border-box;
    width: 200px;
    max-width: 600px;
    min-width: 140px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    flex-shrink: 0;
}
main .sidebar h2 {
    color: var(--primary-dark);
}
main .sidebar .sidebar-items {
    /* border: 1px dashed red; */

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;

    scrollbar-width: thin;
}
main .sidebar .sidebar-item {
    padding: 10px;
    margin: 0 7px;
    width: calc(100% - 14px);
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-dark);
    text-decoration: none;
    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);

    border-radius: 10px;

    transition: 0.1s ease-out;
}
main .sidebar .text {
    flex-grow: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main .sidebar .color-container {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    flex-shrink: 0;

    width: 25px;
    height: 25px;

    border-radius: 5px;
    overflow: hidden;
}
main .sidebar .color {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 200%;
    height: 200%;

    cursor: pointer;
}
main .sidebar .sidebar-item:hover,
main .sidebar .sidebar-item.active {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

main .sidebar .sidebar-add-button {
    width: 100%;

    border: none;
    border-radius: 5px;

    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 2rem;

    transition: 0.1s ease;
    cursor: pointer;

    margin-top: auto;
    margin-bottom: 15px;
}
main .sidebar .sidebar-add-button:hover {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

main .divider {
    /* border: 1px dashed red; */

    position: relative;
    height: 95%;
    width: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    cursor: ew-resize;

    flex-shrink: 0;
}
main .divider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    border: 1px solid var(--primary-dark);
}

main .table {
    /* border: 1px dashed red; */

    padding: 15px 0 15px 15px;

    height: 100%;

    box-sizing: border-box;

    flex-grow: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

/* Add project modal */

.modal h2 {
    margin-top: 0;
}
.modal-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    text-align: left;
}
.modal-inputs label {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-dark);
}
.modal-inputs span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;

    width: 100%;
}
.modal-inputs input {
    width: 100%;
}
.modal-inputs input#name {
    border-radius: 5px 0 0 5px;
    flex-grow: 1;
}
.modal-inputs .modal-color-container {
    position: relative;

    border: 3px solid var(--primary-dark);
    border-left: none;
    border-radius: 0 5px 5px 0;
    flex-grow: 1;
    padding: 0;
    height: 34px;
    width: 34px;

    box-sizing: border-box;

    overflow: hidden;
}

.modal-buttons {
    width: 100%;
    padding: 0 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 7px;

    margin-top: 20px;
}
.modal-buttons button {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--accent-dark);
    background: none;
    border: none;
    padding: 5px 7px;
    cursor: pointer;

    transition: 0.1s ease;
}
.modal-buttons button:not([type="submit"]):hover {
    text-decoration: underline;
}
.modal-buttons button[type="submit"] {
    font-size: 1rem;
    border-radius: 5px;
    border: 3px solid var(--accent-dark);
}
.modal-buttons button[type="submit"]:hover {
    background-color: var(--accent-dark);
    color: var(--primary-light);
}

/* Tasks table */

.table .table-header {
    background-color: rgb(var(--primary-dark-rgb), 0.25);
    border-radius: 10px;

    padding: 7px;
    margin: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    width: 100%;
}

.table .header-left,
.table .header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    flex-grow: 1;
}
.table .header-left {
    justify-content: flex-start;
    margin-left: 6px;
}
.table .header-right {
    justify-content: flex-end;
    margin-right: 2px;
}

.table .table-header h2 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--primary-dark);
}

.table .table-header .table-item.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex-shrink: 0;
}
.table .table-header .icon-container {
    position: relative;

    width: 28px;
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    background-color: rgb(var(--primary-dark-rgb), 0.4);
}
.icon-container .icon {
    width: 20px;
    height: 20px;
    
    background-position: center;
    background: var(--primary-dark);
}
.icon-container .icon.owner {
    mask: url("https://img.icons8.com/ios-glyphs/30/crown.png");
    mask-size: cover;
}
.icon-container .icon.editor {
    mask: url("https://img.icons8.com/ios-glyphs/30/edit--v1.png");
    mask-size: cover;
}
.icon-container .icon.viewer {
    mask: url("https://img.icons8.com/ios-glyphs/30/visible--v1.png");
    mask-size: cover;
}
.icon-container .icon.public {
    mask: url("https://img.icons8.com/ios-glyphs/30/unlock.png");
    mask-size: cover;
}
.icon-container .icon.private {
    mask: url("https://img.icons8.com/ios-glyphs/30/lock--v1.png");
    mask-size: cover;
}
.icon-container .icon.anyone {
    mask: url("https://img.icons8.com/ios-glyphs/30/conference-call--v1.png");
    mask-size: cover;
}
.icon-container .icon.not-anyone {
    mask: url("https://img.icons8.com/ios-glyphs/30/conference-foreground-selected.png");
    mask-size: cover;
}
.icon.settings {
    mask: url("https://img.icons8.com/ios-filled/50/settings.png");
    mask-size: cover;
}
.icon.settings:hover {
    transform: rotate(90deg);
    transition: 0.2s ease;
}

.table-body {
    flex-grow: 1;
    width: 100%;
}

.table .table-tasks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    overflow-x: auto;

    height: 100%;
}

.table .major-task {
    background-color: rgb(var(--primary-dark-rgb), 0.25);
    border-radius: 10px;

    padding: 10px;

    overflow-y: auto;

    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;

    min-width: 200px;
    max-width: 250px;
}

.table .major-task h3 {
    margin: 5px;
    margin-bottom: 10px;
    color: var(--primary-dark);

    user-select: none;
    -webkit-user-select: none;
}
.table .tasks {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.table .task {
    background-color: rgb(var(--primary-dark-rgb), 0.15);
    border-radius: 5px;

    color: var(--primary-dark);

    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    gap: 5px;

    width: 100%;
}
.table .task:hover {
    background-color: rgb(var(--primary-dark-rgb), 0.25);
}
.table .task .dragger {
    border-left: 2px solid rgb(var(--primary-dark-rgb), 0.7);
    border-right: 2px solid rgb(var(--primary-dark-rgb), 0.7);

    position: relative;
    width: 4px;

    flex-shrink: 0;

    cursor: move;

    display: none;
}
.table .task:hover .dragger {
    display: block;
}
.table .task-content span {
    overflow-wrap: anywhere;
}
.table .major-task input,
.table .task input {
    border: none;
    background: none;
    color: var(--primary-dark);
    font-size: 1rem;
    font-weight: 600;
    text-align: left;

    padding: 0 5px;
    box-sizing: border-box;

    outline: none;
}
.table .placeholder {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 5px;

    color: var(--primary-dark);

    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    gap: 5px;

    width: 100%;
}
.table .add-task {
    border-radius: 5px;

    color: var(--primary-dark);
    text-align: center;
    font-size: 1.2rem;

    padding: 5px;
    box-sizing: border-box;

    width: 100%;

    user-select: none;
    -webkit-user-select: none;

    transition: 0.1s ease;
}
.table .add-task:hover {
    background-color: rgb(var(--primary-dark-rgb), 1);
    color: var(--primary-light);
    cursor: pointer;
}
.table .add-major-task {
    border-radius: 10px;
    background-color: rgb(var(--primary-dark-rgb), 0.25);

    color: var(--primary-dark);
    text-align: center;
    font-size: 1.2rem;

    padding: 5px;
    box-sizing: border-box;

    min-width: 200px;

    user-select: none;
    -webkit-user-select: none;

    transition: 0.1s ease;
}
.table .add-major-task:hover {
    background-color: rgb(var(--primary-dark-rgb), 1);
    color: var(--primary-light);
    cursor: pointer;
}