footer {
    position: relative;
    width: 100vw;
    padding: 20px 40px;
    margin: 0 auto;

    background-color: var(--primary-light);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: var(--primary-dark);
    font-weight: 600;
    font-size: 1rem;
}
footer::before {
    content: '';
    border-top: 2px solid var(--primary-dark);
    
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-52.5%);
    width: calc(100vw - 80px);
}
