footer {
    position: relative;
    width: 100%;
    padding: 10px 30px;

    background-color: var(--accent-light);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: var(--accent-dark);
    font-weight: 600;
    font-size: 1rem;
}
