nav {
    background-color: var(--primary-color);
    
    padding: 10px 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.nav-links a {
    position: relative;

    color: var(--primary-color-dark);
    font-weight: 600;
    font-size: 1rem;

    text-decoration: none;
}
.nav-links a::after {
    content: '';
    border-top: 3px solid var(--primary-color-dark);

    position: absolute;
    left: 1px;
    bottom: -2px;
    width: 0%;

    transition: 0.15s ease;
}
.nav-links a:hover::after {
    width: 99%;
}

nav .nav-action {
    border: 3px solid var(--primary-color-dark);
    border-radius: 5px;

    color: var(--primary-color-dark);
    font-weight: 600;
    font-size: 1rem;

    padding: 5px;

    background: none;
    text-decoration: none;

    cursor: pointer;

    transition: 0.15s ease;
}
nav .nav-action:hover {
    color: var(--primary-color);
    background-color: var(--primary-color-dark);
}

dialog {
    border: 3px solid var(--primary-color-dark);
    border-radius: 5px;

    padding: 20px;
}
/* Opening animation */
dialog[open] {
    animation: dialog-open 0.3s ease forwards;
}

/* Closing animation */
dialog.closing {
    animation: dialog-close 0.15s ease forwards;
}

/* Keyframes for opening */
@keyframes dialog-open {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Keyframes for closing */
@keyframes dialog-close {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}