@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

:root {
    --background-color: #F9F5F1;
    --primary-light: #E7D8C9;
    --primary-dark: #514538;
    --accent-dark: #2b7a6d;
    --accent-light: #cbe1d6;
}

html {
    overflow-x: hidden;
}

/* //////////////////////// */
/*      Common styles       */
/* //////////////////////// */

body {
    padding: 0;
    margin: 0;

    font-family: "Inter", sans-serif;
    font-weight: 500;

    height: 100%;
    width: 100%;

    background-color: var(--primary-light);
}

header {
    /* border: 1px solid red; */

    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;

    font-size: 1.5rem;

    color: var(--primary-dark);
}

.home-content {
    border: 1px solid red;

    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;

    font-size: 1rem;

    color: var(--primary-dark);

    height: 100vh;
}

.container {
    position: relative;

    border: 1px solid red;

    margin: 25px auto;
    padding: 15px;
    max-width: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
